header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 90px;

  background-color: #F1D00A;
  
  color: #FFF;

  section{
    margin: 1rem;
    font-weight: bold;
    
    h2 {
      span {
        color: rgb(95, 52, 115);
      }
    }
  }

  a {
    text-align: center;
    margin-left: 1rem;
    text-decoration: none;
    color: white;

    &:hover{
      color: rgb(95, 52, 115);
      cursor: pointer;
    }
  }
}